.about_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /* border: 2px solid red; */
}
.flex_container {
  display: flex;
  gap: 100px;
}
.abouttext_paragraph {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  /* border: 1px solid red; */
}
.close_icon {
  z-index: 111111111111;
  /* border: 1px solid red; */

  cursor: pointer;
}
.close_icon img {
  width: 40px;
  height: 40px;
  /* cursor: pointer; */
  /* border: 1px solid red; */
}
.title {
  /* color: black; */
  color: white;
  /* border: 1px solid green; */
  font-size: 40px;
  letter-spacing: 5px;
}
.closebutt_logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 100%;
  /* border: 1px solid green; */
}
.logo_image {
  display: flex;
  align-items: center;
  transition: transform 2s ease, opacity 2s ease;

  /* border: 1px solid red; */
}
.logo_image img {
  transition: transform 2s ease, opacity 2s ease;

  width: 350px;
  height: 400px;
}
.paragraph {
  display: flex;
  flex-direction: column;
  max-height: 600px;
  width: 800px;
  overflow-y: auto;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  gap: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border: 1px solid rgb(21, 0, 255); */
}
.paragraph p {
  font-size: 18px;
  /* border: 1px solid red; */
}
.paragraph span {
  font-size: 18px;
}
.paragraph .para_span .tit {
  font-size: 23px;
  /* border: 2px solid red; */
}
.grow-logo {
  animation: grow 2s forwards;
  opacity: 1;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(20);
  }
}

@media (min-width: 530px) and (max-width: 949px) {
  .about_container {
    padding-bottom: 7%;
    /* border: 1px solid red; */
  }
  .flex_container {
    padding-left: 5%;
    padding-right: 4%;
    gap: 60px;
    /* border: 1px solid red; */
  }
  .close_icon img {
    width: 20px;
    height: 20px;
  }
  .abouttext_paragraph {
    width: auto;
    align-items: start;
    /* border: 1px solid red; */
    gap: 15px;
  }
  .close_icon img {
    width: 20px;
    height: 20px;
  }
  .title {
    /* color: rgb(190, 15, 15);
    border: 1px solid green; */
    font-size: 25px;
    letter-spacing: 3px;
  }
  .closebutt_logo {
    width: auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 35px;
    /* border: 1px solid green; */
  }
  .logo_image img {
    width: 100px;
    height: 150px;
  }
  .paragraph {
    max-height: 200px;
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    /* border: 1px solid rgb(21, 0, 255); */
  }
  .paragraph p {
    font-size: 15px;
    /* border: 1px solid red; */
  }
  .paragraph span {
    font-size: 15px;
  }
  .paragraph .para_span .tit {
    font-size: 20px;
    /* border: 2px solid red; */
  }
}
@media (min-width: 950px) and (max-width: 1400px) {
  .about_container {
    padding-bottom: 7%;
    /* border: 1px solid red; */
  }
  .flex_container {
    padding-left: 6%;
    padding-right: 3%;
    gap: 0px;
    /* border: 1px solid red; */
    /* gap: 70px;  */
  }
  .close_icon img {
    width: 30px;
    height: 30px;
  }
  .abouttext_paragraph {
    /* border: 1px solid red; */
    gap: 40px;
  }
  .close_icon img {
    width: 30px;
    height: 30px;
  }
  .title {
    /* color: black; */
    /* border: 1px solid green; */
    font-size: 30px;
    letter-spacing: 2px;
  }
  .closebutt_logo {
    gap: 90px;
    display: flex;
    margin: 0;
    width: auto;
    /* border: 1px solid green; */
  }
  .logo_image img {
    width: 280;
    height: 320px;
  }
  .paragraph {
    max-height: 450px;
    width: 100%;
    /* border: 1px solid rgb(21, 0, 255); */
  }
  .paragraph p {
    font-size: 18px;
    /* border: 1px solid red; */
  }
  .paragraph span {
    font-size: 18px;
  }
  .paragraph .para_span .tit {
    font-size: 25px;
    /* border: 2px solid red; */
  }
}
@media (min-width: 2000px) {
  .about_container {
    padding-bottom: 10%;
    /* border: 1px solid red; */
  }
  .flex_container {
    padding-left: 9%;
    padding-right: 6%;
    gap: 100px;
    /* border: 1px solid red; */
    /* gap: 70px;  */
  }
  .close_icon img {
    width: 40px;
    height: 40px;
  }
  .abouttext_paragraph {
    /* border: 1px solid red; */
    gap: 60px;
  }
  .title {
    /* border: 1px solid green; */
    font-size: 43px;
    letter-spacing: 3px;
  }
  .closebutt_logo {
    gap: 110px;
    display: flex;
    margin: 0;
    width: auto;
    /* border: 1px solid green; */
  }
  .logo_image img {
    width: 450px;
    height: 500px;
  }
  .paragraph {
    max-height: 700px;
    width: 100%;
    /* border: 1px solid rgb(21, 0, 255); */
  }
  .paragraph p {
    font-size: 25px;
    /* border: 1px solid red; */
  }
  .paragraph span {
    font-size: 25px;
  }
  .paragraph .para_span .tit {
    font-size: 34px;
    /* border: 2px solid red; */
  }
}
