.background-video::-webkit-media-controls {
  display: none !important;
}

.background-video::-webkit-media-controls-enclosure {
  display: none !important;
}

.background-video::-webkit-media-controls-panel {
  display: none !important;
}
