.map_container {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden !important;
  /* background-color: #121212; */
  background-image: url("../assets/background_map.jpg");
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0C45E2", endColorstr="#141516", GradientType=1);
}

#main_svg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.select,
.reset-button,
.back_button {
  position: absolute;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.select {
  top: 80px;
  right: 10px;
}

.reset-button {
  top: 10px;
  right: 10px;
}

.back_button {
  top: 70px;
  right: 10px;
  z-index: 9999999999999999999999999999 !important;
}

.reset-button:hover {
  background-color: #0056b3;
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.d1,
.d2 {
  border: 5px solid #6c757d;
  border-radius: 50px;
}

.loading .d1 {
  width: 55px;
  height: 55px;
  position: absolute;
  border-left-color: transparent;
  animation: load161 1s linear infinite;
}

.loading .d2 {
  width: 40px;
  height: 40px;
  border-top-color: transparent;
  border-right-color: transparent;
  margin: 7.5px;
  animation: load2812 1.5s linear infinite;
}

@keyframes load161 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load2812 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes border-animation {
  0% {
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 10;
  }
}

.path-element {
  opacity: 0;
  animation: comeFromBack 1s forwards;
}

@keyframes comeFromBack {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/* =======================   hovered  country style   ============================  */

.selected-country-hover {
  /* transform: scale(1.26) !important; */
  /* transform-origin: center;
  transition: transform 0.3s ease; */
  stroke: #19b43b;
  stroke-width: 1;
  stroke-dasharray: 50, 50, 50, 50;
  /* Adjust these values based on your path length */
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -300;
    /* Adjust this value to control the speed */
  }
}

/* =======================   selected continent style   ============================  */


@keyframes close-continent {
  from {
    transform: scale(2);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}

.continent-closing {
  animation: close-continent 0.75s forwards;
}

.continent-closing {
  animation: close-continent 0.75s forwards;
}


.continent-scale {
  transform: scale(1.15);
  transform-origin: center;
  transition: transform 0.3s ease;
}


.continent-af {
  transition: transform 0.75s ease;
  transform: translate(-1100px, -450px) scale(2);

  opacity: 1;

}


.continent-eu {
  transition: transform 0.75s ease;
  transform: translate(-1000px, 100px) scale(2);

  opacity: 1;

}

.continent-na {
  transition: transform 0.75s ease;
  transform: translate(-200px, 100px) scale(2);

  opacity: 1;

}

.continent-sa {
  transition: transform 0.75s ease;
  transform: translate(-200px, -760px) scale(2);

  opacity: 1;

}

.continent-as {
  transition: transform 0.75s ease;
  transform: translate(-1800px, -100px) scale(2);

  opacity: 1;

}

.continent-oc {
  transition: transform 0.75s ease;
  transform: translate(-2330px, -1000px) scale(2);
  opacity: 1;

}

.continent-aq {
  transition: transform 0.75s ease;
  transform: translate(45px, -600px) scale(1);
  opacity: 1;

}

.continent-dark {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.continent-selected {
  z-index: 99999999999;
  opacity: 1 !important;
  position: relative;
  transition: transform 0.75s ease, opacity 0.3s ease;

}
/* ================================================================================  */

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  pointer-events: none;
  visibility: hidden;
  text-align: left;
  width: auto;
  height: auto;
  background: lightsteelblue;
  border-radius: 8px;
}

/* Adjust media query for larger devices */
@media (max-width: 1024px) {
  .tooltip {
    display: none !important;
  }
}

