.map_container {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

#main_svg {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.reset-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #0056b3;
}

/* =====================================  hover efects on counry ==================================== */


/* Hover effects for countries */
path {
  transition: all 0.3s ease;  /* Smooth transition for the hover effect */
}

path:hover {
  /* fill: orange;  */
  transform: translateY(-2px);  /* Move the country slightly upwards on hover */
  stroke: red;  /* Change the stroke color on hover */
  stroke-width: 0.5;  /* Increase the stroke width on hover */
  animation: border-animation 0.5s infinite;  /* Apply the border animation */
  z-index: 99999999999;
}

/* Keyframes for the border animation */
@keyframes border-animation {
  0% {
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 5, 5;
    stroke-dashoffset: 10;
  }
}



/* Tooltip styles */
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  pointer-events: none;
  visibility: hidden;
}