#main_planets_container {
  display: flex;
  justify-content: center;
  align-items: self-end;
  height: 100vh;
  
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.moon_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -100px 100px -20px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  /* z-index: 5; */
}

.moon {
  animation: rotate 30s linear infinite;
  width: 700px;
  margin-bottom: -450px;
  z-index: -4; /* Ensure the moon has a lower z-index than the container */
  object-fit: cover; /* Ensure the image covers the container */
}
