/* #rotate-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: #f0f0f0;
  animation: fadeIn 1s ease-in-out;
}

#rotate-prompt .rotate-icon {
  width: 100px;
  height: 100px;
  background: url("/rotate-icon.png") no-repeat center center;
  background-size: contain;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
